<h1> Anagrams </h1>
<form action="/results">
  <div class="form-group">
    <label for="anagram">Enter Your Anagram</label>
    <input type="text" name="anagram" id="anagram">
    <label for="anagramTwo">Enter Your Other Anagram</label>
    <input type="text" name="anagramTwo" id="anagramTwo">
  </div>
  <button type="submit" class="btn">A Mag Ran</button>
</form>
